# Capstone Project
# The Battle of Neighborhoods

## Introduction

- Toronto is a multicultural city with growing population (4,3% increase between 2011-2016). It is an attractive city for new investments.
- Fast growing areas in the city may have high potential for investors and entrepreneurs.
- Willowsdale East recognized as a fast-growing area with 62,3% change in population between 2001 and 2016. Business opportunities in this neighborhood are analyzed in this project. 
- Investment for a new venue in Willowdale East will be evaluated, since we will use Foursquare data for this project.

### Problem: Which venue categories promise the best business opportunities?
### Approach: Collaborative filtering approach is applied in this project, in order to find the most similar neighborhoods and identify opportunities by comparing Willowdale East with most similar neighborhoods.

#### Import all the libraries

In [1]:
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
from math import sqrt

from sklearn.cluster import KMeans 

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported.')

Libraries imported.

#### Scrape Toronto data

In [2]:
#Scrape data
table=pd.read_html("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1011037969")
toronto_data=pd.DataFrame(table[0])
toronto_data.head()

#Delete the rows where Borough is not assigned
toronto_data['Borough'].replace('Not assigned',np.nan, inplace=True)
toronto_data.dropna(subset=['Borough'], axis=0, inplace=True)

#Groupby Postal Code
toronto_data.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x)).reset_index()
toronto_data[['Postal Code','Borough','Neighbourhood']].drop_duplicates()
toronto_data.rename(columns={"Neighbourhood":"Neighborhood"}, inplace=True)


toronto_data.shape

(103, 3)

In [3]:
toronto_data.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Import geospatial data

In [4]:
!wget -O geo_data.csv http://cocl.us/Geospatial_data
df_geo=pd.read_csv('geo_data.csv')
df_geo.head()

--2021-03-19 17:21:10--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 52.116.121.148, 52.116.127.82
Connecting to cocl.us (cocl.us)|52.116.121.148|:80... connected.
HTTP request sent, awaiting response... 308 Permanent Redirect
Location: https://cocl.us/Geospatial_data [following]
--2021-03-19 17:21:11--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|52.116.121.148|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-03-19 17:21:12--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.29.197
Connecting to ibm.box.com (ibm.box.com)|107.152.29.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-03-19 17:21:12--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-03-19 17:21:13--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.29.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.29.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!PU8f5o3puOFT63OpexzjdTkhp9YZBrTe9GvgzrH3S0AbApnVGOu95VgFGEmnrXqYtNMu7OIFNgC7rqD_Mseqnl4Tbe9cW6qZMmQxm96c9Fp48bffjDaxbuygYOBk4n0DrJAXP6ulZONr2sm3RTuRue4n-7PRb7gAM43FMQGoWflYRKMqTyfjnCmb_LSwXVrcGvIZHi97pEp09Jb-f9xBdDNNnqNKueroMiVN75YJUdDRvKjufLstqOBtQkxed-v0aRWQRe1pzeMSPRKLw0fkFXms5z7sS8AnFslJ6DG7jxHDqBtej_FdmXT8AxVqTZXYi36RilB4ZJb0P2jiKfZy3cR5T1-vOM5Do47aCdakMkI4_PmTJDkO891L2twms982E5hzSJdYkxIt_DHXuXM1nIabezB6NMw2Px1-fmIEs4iCzvZoQn8trCvjWdkUBUOevI4Av2k-3gl-TzvRLrVYhBU7Vz4eeMOJiRcP81hNmfKwj1YrjlxQRkvq_dXAo2MGwk-hButNz8MOfnwytHay0sR6pHJ0WFmumb7mXQYb2MWXXERKwPQNwGWZqmVmhlN2oyz6NB-c0qLLlRqsS1Vtsa1PHSMiK67s568IR-NOZfApxn8uHBHf6EhOd5Ca_fZPKCd0kVI2SqMQCiCegreI2M0XKxITwyt9jbPlgH-mTCzES2Ba-3FU9ck-I17zv7f4j924joDkpDFfLAOpR2JWrrGxUBuX1XvJkz0XkiXQeTSLAsKS4AopSn_VYOA2netKA-L5O1Ni3PZkav7IdD6MueiJd6Ciz3eHYUTd30lG_ixiWGHQBV2qKX2CYx2KVU8t4Qyvz6DwkIh25lcLNl6z4yLQR0TTkik39grYjAroy-tSFYOdmLIG4DDFhagY_PLiXE8tGOUk6cl0aByS-0MVJEteCc3phC8Ayt5hgxPQdvENzQo1gbAd1rPwwUfuqqAwCZyGVTsekJLrRe5WC1P2PyuxIqDWb8MBFCKIhGbX_LbpjnZ3gQIVBNarMxUt-FV-GhY7Sapw1oz-9lNx-gxdLsA7DmRUqzlDA_gGZVN6PDlqFI5WwIxYZdsDehH533t3Hb5usuKWKmBY2-iy9K621Dwp5Qj-Sy1yqrcgulBccM_CREBqfbqDenq8MgOujEb8Nfgv_B2XgNyZ426dqnzbzvne6OM5SjvJdU65q2IJdEnaplqo11Vs2o3G7Dddm3s3PEh6sj_soDgh1rJS6hJrpgPfq7KR3HQpeTUlD59HcDVU01W6N_jrC1BS8K7URZqWyxl8N669jtPX-yfEzPsPxQp2meg7MMXJk1lRO06tZWAbya5r-JdgpqwUyMEnaMcbU6r28l9rTXOweozD52OLdu47bg28tpeSMC5i3yEHqOb6l_iibyHtPI-l3jRWDlcsgZZhyoEJPm3UbmeaZ5Z24ODOU_BKc4g3pxAnsGAFFx2wVihOsoVvD2EOdjCk6dojwmcwwoBxBXrLL7aR/download [following]
--2021-03-19 17:21:14--  https://public.boxcloud.com/d/1/b1!PU8f5o3puOFT63OpexzjdTkhp9YZBrTe9GvgzrH3S0AbApnVGOu95VgFGEmnrXqYtNMu7OIFNgC7rqD_Mseqnl4Tbe9cW6qZMmQxm96c9Fp48bffjDaxbuygYOBk4n0DrJAXP6ulZONr2sm3RTuRue4n-7PRb7gAM43FMQGoWflYRKMqTyfjnCmb_LSwXVrcGvIZHi97pEp09Jb-f9xBdDNNnqNKueroMiVN75YJUdDRvKjufLstqOBtQkxed-v0aRWQRe1pzeMSPRKLw0fkFXms5z7sS8AnFslJ6DG7jxHDqBtej_FdmXT8AxVqTZXYi36RilB4ZJb0P2jiKfZy3cR5T1-vOM5Do47aCdakMkI4_PmTJDkO891L2twms982E5hzSJdYkxIt_DHXuXM1nIabezB6NMw2Px1-fmIEs4iCzvZoQn8trCvjWdkUBUOevI4Av2k-3gl-TzvRLrVYhBU7Vz4eeMOJiRcP81hNmfKwj1YrjlxQRkvq_dXAo2MGwk-hButNz8MOfnwytHay0sR6pHJ0WFmumb7mXQYb2MWXXERKwPQNwGWZqmVmhlN2oyz6NB-c0qLLlRqsS1Vtsa1PHSMiK67s568IR-NOZfApxn8uHBHf6EhOd5Ca_fZPKCd0kVI2SqMQCiCegreI2M0XKxITwyt9jbPlgH-mTCzES2Ba-3FU9ck-I17zv7f4j924joDkpDFfLAOpR2JWrrGxUBuX1XvJkz0XkiXQeTSLAsKS4AopSn_VYOA2netKA-L5O1Ni3PZkav7IdD6MueiJd6Ciz3eHYUTd30lG_ixiWGHQBV2qKX2CYx2KVU8t4Qyvz6DwkIh25lcLNl6z4yLQR0TTkik39grYjAroy-tSFYOdmLIG4DDFhagY_PLiXE8tGOUk6cl0aByS-0MVJEteCc3phC8Ayt5hgxPQdvENzQo1gbAd1rPwwUfuqqAwCZyGVTsekJLrRe5WC1P2PyuxIqDWb8MBFCKIhGbX_LbpjnZ3gQIVBNarMxUt-FV-GhY7Sapw1oz-9lNx-gxdLsA7DmRUqzlDA_gGZVN6PDlqFI5WwIxYZdsDehH533t3Hb5usuKWKmBY2-iy9K621Dwp5Qj-Sy1yqrcgulBccM_CREBqfbqDenq8MgOujEb8Nfgv_B2XgNyZ426dqnzbzvne6OM5SjvJdU65q2IJdEnaplqo11Vs2o3G7Dddm3s3PEh6sj_soDgh1rJS6hJrpgPfq7KR3HQpeTUlD59HcDVU01W6N_jrC1BS8K7URZqWyxl8N669jtPX-yfEzPsPxQp2meg7MMXJk1lRO06tZWAbya5r-JdgpqwUyMEnaMcbU6r28l9rTXOweozD52OLdu47bg28tpeSMC5i3yEHqOb6l_iibyHtPI-l3jRWDlcsgZZhyoEJPm3UbmeaZ5Z24ODOU_BKc4g3pxAnsGAFFx2wVihOsoVvD2EOdjCk6dojwmcwwoBxBXrLL7aR/download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘geo_data.csv’

geo_data.csv        100%[===================>]   2.82K  --.-KB/s    in 0s

2021-03-19 17:21:14 (43.1 MB/s) - ‘geo_data.csv’ saved [2891/2891]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Merge Toronto data with geospatial data

In [5]:
toronto_data=toronto_data.merge(df_geo, left_on='Postal Code', right_on='Postal Code')
toronto_data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494



## Use venue explore ressource from Foursquare

In [4]:
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value
ACCESS_TOKEN = '' # your FourSquare Access Token

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID:
CLIENT_SECRET:

In [7]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng,
            v['venue']['id'],
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],
            v['venue']['categories'][0]['id'],
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude',
                  'Venue ID',
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude',
                  'Category ID',
                  'Venue Category']
    
    return(nearby_venues)

In [8]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue, Humber Valley Village
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto, Broadview North (Old East York)
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale, Willowdale East
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction, Weston-Pellam Park, Carlton Village
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale, Willowdale West
North Toronto West, Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest, West Humber - Clairville
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

In [9]:
toronto_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Category ID,Venue Category
0,Parkwoods,43.753259,-79.329656,4e8d9dcdd5fbbbb6b3003c7b,Brookbanks Park,43.751976,-79.332140,4bf58dd8d48988d163941735,Park
1,Parkwoods,43.753259,-79.329656,4cb11e2075ebb60cd1c4caad,Variety Store,43.751974,-79.333114,4bf58dd8d48988d1f9941735,Food & Drink Shop
2,Victoria Village,43.725882,-79.315572,4c633acb86b6be9a61268e34,Victoria Village Arena,43.723481,-79.315635,4bf58dd8d48988d185941735,Hockey Arena
3,Victoria Village,43.725882,-79.315572,4f3ecce6e4b0587016b6f30d,Portugril,43.725819,-79.312785,4def73e84765ae376e57713a,Portuguese Restaurant
4,Victoria Village,43.725882,-79.315572,4bbe904a85fbb713420d7167,Tim Hortons,43.725517,-79.313103,4bf58dd8d48988d1e0931735,Coffee Shop

In [10]:
toronto_venues.shape

(2127, 9)

## Data preprocessing

In [11]:
venues_by_category=toronto_venues.groupby(['Neighborhood','Category ID','Venue Category']).count().sort_values(by='Neighborhood').reset_index()
venues_by_category.rename(columns={'Venue ID':'Frequency'}, inplace=True)

In [12]:
inputNeigh=venues_by_category[venues_by_category['Neighborhood']=='Willowdale, Willowdale East']
inputNeigh.drop(columns=['Neighborhood','Neighborhood Latitude','Neighborhood Longitude','Venue','Venue Latitude','Venue Longitude'],inplace=True)
inputNeigh

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                   Category ID             Venue Category  Frequency
1468  52e81612bcbc57f1066b7a0c            Bubble Tea Shop          1
1469  52dea92d3cf9994f4e043dbb             Discount Store          1
1470  4bf58dd8d48988d1fd941735              Shopping Mall          1
1471  4bf58dd8d48988d1fa931735                      Hotel          1
1472  4bf58dd8d48988d1e0931735                Coffee Shop          2
1473  4bf58dd8d48988d1d2941735           Sushi Restaurant          2
1474  4bf58dd8d48988d1cc941735                 Steakhouse          1
1475  4bf58dd8d48988d1ca941735                Pizza Place          2
1476  4bf58dd8d48988d1c9941735             Ice Cream Shop          1
1477  4bf58dd8d48988d1c5941735             Sandwich Place          2
1478  55a59bace4b013909087cb24           Ramen Restaurant          3
1479  4bf58dd8d48988d186941735               Liquor Store          1
1480  4bf58dd8d48988d17f941735              Movie Theater          1
1481  4bf58dd8d48988d1c4941735                 Restaurant          2
1482  4bf58dd8d48988d16d941735                       Café          2
1483  4bf58dd8d48988d164941735                      Plaza          1
1484  4bf58dd8d48988d14a941735      Vietnamese Restaurant          1
1485  4bf58dd8d48988d127951735        Arts & Crafts Store          1
1486  4bf58dd8d48988d122951735          Electronics Store          1
1487  4bf58dd8d48988d121941735                     Lounge          1
1488  4bf58dd8d48988d118951735              Grocery Store          1
1489  4bf58dd8d48988d115941735  Middle Eastern Restaurant          1
1490  4bf58dd8d48988d112941735                  Juice Bar          1
1491  4bf58dd8d48988d111941735        Japanese Restaurant          1
1492  4bf58dd8d48988d10a951735                       Bank          1
1493  4bf58dd8d48988d100951735                  Pet Store          1
1494  4bf58dd8d48988d16e941735       Fast Food Restaurant          1

In [13]:
venueSubset = venues_by_category[venues_by_category['Category ID'].isin(inputNeigh['Category ID'].tolist())]
venueSubset.drop(columns=['Neighborhood Latitude','Neighborhood Longitude','Venue','Venue Latitude','Venue Longitude'],inplace=True)
venueSubset.head()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Neighborhood,Category ID,Venue Category,Frequency
0,Agincourt,4bf58dd8d48988d121941735,Lounge,1
4,"Alderwood, Long Branch",4bf58dd8d48988d1ca941735,Pizza Place,2
5,"Alderwood, Long Branch",4bf58dd8d48988d1c5941735,Sandwich Place,1
7,"Alderwood, Long Branch",4bf58dd8d48988d1e0931735,Coffee Shop,1
11,"Bathurst Manor, Wilson Heights, Downsview North",4bf58dd8d48988d1ca941735,Pizza Place,1

In [14]:
venueSubset.shape

(449, 4)

In [15]:
venueSubset.drop(venueSubset[venueSubset['Neighborhood']=='Willowdale, Willowdale East'].index, inplace=True)
venueSubsetGroup = venueSubset.groupby(['Neighborhood'])

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
venueSubsetGroup.head()

,Neighborhood,Category ID,Venue Category,Frequency
0,Agincourt,4bf58dd8d48988d121941735,Lounge,1
4,"Alderwood, Long Branch",4bf58dd8d48988d1ca941735,Pizza Place,2
5,"Alderwood, Long Branch",4bf58dd8d48988d1c5941735,Sandwich Place,1
7,"Alderwood, Long Branch",4bf58dd8d48988d1e0931735,Coffee Shop,1
11,"Bathurst Manor, Wilson Heights, Downsview North",4bf58dd8d48988d1ca941735,Pizza Place,1
...,...,...,...,...
1465,"Wexford, Maryvale",4bf58dd8d48988d1fd941735,Shopping Mall,1
1496,"Willowdale, Willowdale West",4bf58dd8d48988d1e0931735,Coffee Shop,1
1497,"Willowdale, Willowdale West",4bf58dd8d48988d1ca941735,Pizza Place,1
1499,"Willowdale, Willowdale West",4bf58dd8d48988d118951735,Grocery Store,1
1500,Woburn,4bf58dd8d48988d1e0931735,Coffee Shop,2

## Similarity of Neighborhoods to Willowdale East

In [17]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in venueSubsetGroup:
    #Let's start by sorting the input and current neighborhood group so the values aren't mixed up later on
    group = group.sort_values(by='Category ID')
    inputNeigh = inputNeigh.sort_values(by='Category ID')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the categories that they both have in common
    temp_df = inputNeigh[inputNeigh['Category ID'].isin(group['Category ID'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['Frequency'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['Frequency'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [18]:
pearsonCorrelationDict.items()

dict_items([('Agincourt', 0), ('Alderwood, Long Branch', 0), ('Bathurst Manor, Wilson Heights, Downsview North', -0.05976143046671949), ('Bayview Village', 0), ('Bedford Park, Lawrence Manor East', 0.3779644730092279), ('Berczy Park', 0.5196746370519365), ('Birch Cliff, Cliffside West', 0), ('Brockton, Parkdale Village, Exhibition Place', 0.6123724356957944), ('Business reply mail Processing Centre, South Central Letter Processing Plant Toronto', 0), ('CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport', 0), ('Canada Post Gateway Processing Centre', 0.30151134457776363), ('Cedarbrae', 0), ('Central Bay Street', 0.2828460777067467), ('Christie', -0.7777777777777778), ('Church and Wellesley', 0.1614116742309718), ("Clarks Corners, Tam O'Shanter, Sullivan", 0.49999999999999967), ('Commerce Court, Victoria Hotel', 0.4528907231300196), ('Davisville', 0.5400617248673215), ('Davisville North', 0), ('Del Ray, Mount Dennis, Keelsdale and Silverthorn', 0), ('Don Mills', 0.49999999999999967), ('Dorset Park, Wexford Heights, Scarborough Town Centre', 0), ('Downsview', 0), ('Dufferin, Dovercourt Village', 0), ('East Toronto, Broadview North (Old East York)', 0), ('Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood', 0), ('Fairview, Henry Farm, Oriole', 0.42460388780422315), ('First Canadian Place, Underground city', 0.3699217555959069), ('Forest Hill North & West, Forest Hill Road Park', 0), ('Garden District, Ryerson', 0.27231762979212554), ('Glencairn', 0.49999999999999967), ('Golden Mile, Clairlea, Oakridge', 0), ('Guildwood, Morningside, West Hill', 0), ('Harbourfront East, Union Station, Toronto Islands', 0.43482433410014465), ('High Park, The Junction South', 1.0), ('Hillcrest Village', 0), ('Humber Summit', 0), ('India Bazaar, The Beaches West', 0.04303314829119306), ('Kennedy Park, Ionview, East Birchmount Park', 0), ('Kensington Market, Chinatown, Grange Park', 0.5229577884350216), ('Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens', 0), ('Lawrence Manor, Lawrence Heights', 0), ('Leaside', 0.3118047822311616), ('Little Portugal, Trinity', 0.5), ('Malvern, Rouge', 0), ('Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West', 0), ('New Toronto, Mimico South, Humber Bay Shores', 0), ('North Toronto West, Lawrence Park', 0.4082482904638635), ('Northwood Park, York University', 0), ('Parkdale, Roncesvalles', 0), ('Parkview Hill, Woodbine Gardens', 0.49999999999999967), ("Queen's Park, Ontario Provincial Government", 0.3140543535541286), ('Regent Park, Harbourfront', 0.5819143739626464), ('Richmond, Adelaide, King', 0.6206209315527176), ('Runnymede, Swansea', 0.4409585518440983), ('Runnymede, The Junction, Weston-Pellam Park, Carlton Village', 0), ('South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens', 0.0), ('St. James Town', 0.8268741925060656), ('St. James Town, Cabbagetown', 0.7453559924999299), ("Steeles West, L'Amoreaux West", -0.4082482904638635), ('Stn A PO Boxes', 0.443053378608375), ('Studio District', 0.9258200997725512), ('Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park', 0.29277002188455997), ('The Annex, North Midtown, Yorkville', 0.6565321642986136), ('The Danforth West, Riverdale', 0.44280744277004774), ('Thorncliffe Park', 0), ('Toronto Dominion Centre, Design Exchange', 0.47587338594636164), ('University of Toronto, Harbord', 0.09784921095801605), ('Victoria Village', 0), ('Westmount', 0.4082482904638635), ('Wexford, Maryvale', -0.3333333333333333), ('Willowdale, Willowdale West', 0), ('Woburn', 0)])

In [19]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['Neighborhood'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex                                     Neighborhood
0         0.000000                                        Agincourt
1         0.000000                           Alderwood, Long Branch
2        -0.059761  Bathurst Manor, Wilson Heights, Downsview North
3         0.000000                                  Bayview Village
4         0.377964                Bedford Park, Lawrence Manor East

In [20]:
pearsonDF.shape

(73, 2)

### Most similar neighborhoods

In [21]:
#Top 20 similar neighborhoods
topNeigh=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:20]
topNeigh

    similarityIndex                                  Neighborhood
34         1.000000                 High Park, The Junction South
61         0.925820                               Studio District
57         0.826874                                St. James Town
58         0.745356                   St. James Town, Cabbagetown
63         0.656532           The Annex, North Midtown, Yorkville
53         0.620621                      Richmond, Adelaide, King
7          0.612372  Brockton, Parkdale Village, Exhibition Place
52         0.581914                     Regent Park, Harbourfront
17         0.540062                                    Davisville
39         0.522958     Kensington Market, Chinatown, Grange Park
5          0.519675                                   Berczy Park
43         0.500000                      Little Portugal, Trinity
20         0.500000                                     Don Mills
15         0.500000       Clarks Corners, Tam O'Shanter, Sullivan
30         0.500000                                     Glencairn
50         0.500000               Parkview Hill, Woodbine Gardens
66         0.475873      Toronto Dominion Centre, Design Exchange
16         0.452891                Commerce Court, Victoria Hotel
60         0.443053                                Stn A PO Boxes
64         0.442807                  The Danforth West, Riverdale

In [22]:
topNeighFreq=topNeigh.merge(venues_by_category, left_on='Neighborhood', right_on='Neighborhood', how='inner')
topNeighFreq.head()

,similarityIndex,Neighborhood,Category ID,Venue Category,Neighborhood Latitude,Neighborhood Longitude,Frequency,Venue,Venue Latitude,Venue Longitude
0,1.0,"High Park, The Junction South",52dea92d3cf9994f4e043dbb,Discount Store,1,1,1,1,1,1
1,1.0,"High Park, The Junction South",4bf58dd8d48988d16e941735,Fast Food Restaurant,1,1,1,1,1,1
2,1.0,"High Park, The Junction South",4d4ae6fc7a7b7dea34424761,Fried Chicken Joint,1,1,1,1,1,1
3,1.0,"High Park, The Junction South",4bf58dd8d48988d1f8941735,Furniture / Home Store,1,1,1,1,1,1
4,1.0,"High Park, The Junction South",4bf58dd8d48988d1f7941735,Flea Market,1,1,1,1,1,1

In [23]:
topNeighFreq.shape

(640, 10)

### Most common venue categories in the most similar Neighborhoods

In [24]:
#Applies a sum to the topNeigh after grouping it up by userId
tempTopNeighFreq = topNeighFreq.groupby(['Category ID','Venue Category']).sum()[['similarityIndex']]
tempTopNeighFreq.columns = ['sum_similarityIndex']
tempTopNeighFreq.sort_values(by='sum_similarityIndex', ascending=False, inplace=True)
tempTopNeighFreq.head(10)

                                              sum_similarityIndex
Category ID              Venue Category
4bf58dd8d48988d16d941735 Café                           10.866809
4bf58dd8d48988d1e0931735 Coffee Shop                     9.366809
4bf58dd8d48988d16a941735 Bakery                          8.670215
4bf58dd8d48988d110941735 Italian Restaurant              7.965109
4bf58dd8d48988d163941735 Park                            7.715135
4bf58dd8d48988d1c4941735 Restaurant                      7.261499
4bf58dd8d48988d111941735 Japanese Restaurant             6.647363
4bf58dd8d48988d149941735 Thai Restaurant                 6.574352
4bf58dd8d48988d155941735 Gastropub                       5.990489
4bf58dd8d48988d1ca941735 Pizza Place                     5.981227

In [25]:
tempTopNeighFreq.shape

(183, 1)

In [26]:
tempTopNeighFreq.reset_index(inplace=True)

In [27]:
tempTopNeighFreq.columns

Index(['Category ID', 'Venue Category', 'sum_similarityIndex'], dtype='object')

### Exclude all the venue categories which already exist in Willowdale East

In [28]:
#tempTopNeighFreq.reset_index()
df_Recommendations=tempTopNeighFreq[-tempTopNeighFreq['Category ID'].isin(inputNeigh['Category ID'].tolist())]

In [29]:
df_Recommendations.shape

(157, 3)

In [30]:
df_Recommendations.head(20)

,Category ID,Venue Category,sum_similarityIndex
2,4bf58dd8d48988d16a941735,Bakery,8.670215
3,4bf58dd8d48988d110941735,Italian Restaurant,7.965109
4,4bf58dd8d48988d163941735,Park,7.715135
7,4bf58dd8d48988d149941735,Thai Restaurant,6.574352
8,4bf58dd8d48988d155941735,Gastropub,5.990489
10,4bf58dd8d48988d143941735,Breakfast Spot,5.556232
11,4bf58dd8d48988d147941735,Diner,5.500840
12,4bf58dd8d48988d10f951735,Pharmacy,5.230383
14,4bf58dd8d48988d1e2931735,Art Gallery,4.920902
15,4bf58dd8d48988d1ce941735,Seafood Restaurant,4.804869
16,4bf58dd8d48988d114951735,Bookstore,4.712067
17,4bf58dd8d48988d116941735,Bar,4.657645
18,4bf58dd8d48988d176941735,Gym,4.471747
19,4bf58dd8d48988d1d3941735,Vegetarian / Vegan Restaurant,4.361945
20,4bf58dd8d48988d11b941735,Pub,4.318102
21,4bf58dd8d48988d103951735,Clothing Store,4.311917
22,4bf58dd8d48988d142941735,Asian Restaurant,4.032791
24,4bf58dd8d48988d10c941735,French Restaurant,3.800281
26,4bf58dd8d48988d175941735,Gym / Fitness Center,3.557120
27,4bf58dd8d48988d102941735,Yoga Studio,3.505968

### Exclude the categories from the recommendations, which are already existing in the closest neighborhoods

In [31]:
nextNeigh=pd.DataFrame()
nextNeigh=nextNeigh.append(venues_by_category[venues_by_category['Neighborhood']=='Willowdale, Willowdale West'])
nextNeigh=nextNeigh.append(venues_by_category[venues_by_category['Neighborhood']=='Willowdale, Newtonbrook'])
nextNeigh=nextNeigh.append(venues_by_category[venues_by_category['Neighborhood']=='Bayview Village'])

nextNeigh

,Neighborhood,Category ID,Venue Category,Neighborhood Latitude,Neighborhood Longitude,Frequency,Venue,Venue Latitude,Venue Longitude
1495,"Willowdale, Willowdale West",52f2ab2ebcbc57f1066b8b46,Supermarket,1,1,1,1,1,1
1496,"Willowdale, Willowdale West",4bf58dd8d48988d1e0931735,Coffee Shop,1,1,1,1,1,1
1497,"Willowdale, Willowdale West",4bf58dd8d48988d1ca941735,Pizza Place,1,1,1,1,1,1
1498,"Willowdale, Willowdale West",4bf58dd8d48988d10f951735,Pharmacy,1,1,1,1,1,1
1499,"Willowdale, Willowdale West",4bf58dd8d48988d118951735,Grocery Store,1,1,1,1,1,1
1467,"Willowdale, Newtonbrook",4bf58dd8d48988d163941735,Park,1,1,1,1,1,1
32,Bayview Village,4bf58dd8d48988d16d941735,Café,1,1,1,1,1,1
33,Bayview Village,4bf58dd8d48988d145941735,Chinese Restaurant,1,1,1,1,1,1
34,Bayview Village,4bf58dd8d48988d111941735,Japanese Restaurant,1,1,1,1,1,1
35,Bayview Village,4bf58dd8d48988d10a951735,Bank,1,1,1,1,1,1

In [32]:
df_Recommendations=df_Recommendations[-df_Recommendations['Category ID'].isin(nextNeigh['Category ID'].tolist())]
df_Recommendations.shape

(153, 3)

## Results

In [33]:
df_Recommendations.head(20)

,Category ID,Venue Category,sum_similarityIndex
2,4bf58dd8d48988d16a941735,Bakery,8.670215
3,4bf58dd8d48988d110941735,Italian Restaurant,7.965109
7,4bf58dd8d48988d149941735,Thai Restaurant,6.574352
8,4bf58dd8d48988d155941735,Gastropub,5.990489
10,4bf58dd8d48988d143941735,Breakfast Spot,5.556232
11,4bf58dd8d48988d147941735,Diner,5.500840
14,4bf58dd8d48988d1e2931735,Art Gallery,4.920902
15,4bf58dd8d48988d1ce941735,Seafood Restaurant,4.804869
16,4bf58dd8d48988d114951735,Bookstore,4.712067
17,4bf58dd8d48988d116941735,Bar,4.657645
18,4bf58dd8d48988d176941735,Gym,4.471747
19,4bf58dd8d48988d1d3941735,Vegetarian / Vegan Restaurant,4.361945
20,4bf58dd8d48988d11b941735,Pub,4.318102
21,4bf58dd8d48988d103951735,Clothing Store,4.311917
22,4bf58dd8d48988d142941735,Asian Restaurant,4.032791
24,4bf58dd8d48988d10c941735,French Restaurant,3.800281
26,4bf58dd8d48988d175941735,Gym / Fitness Center,3.557120
27,4bf58dd8d48988d102941735,Yoga Studio,3.505968
29,4bf58dd8d48988d1fa941735,Farmers Market,3.434536
30,4bf58dd8d48988d1e7931735,Jazz Club,3.386072